<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Pipes</h1>
      <p>
        Angular provides a set of built-in pipes that can be used to transform
        data in templates. Pipes are a powerful way to format and manipulate
        data before it is displayed to the user.
      </p>
      <p>Some common built-in pipes include:</p>
      <ul>
        <li>
          <strong>DatePipe:</strong> Formats dates according to a specified
          format.
        </li>
        <li><strong>CurrencyPipe:</strong> Formats numbers as currency.</li>
        <li>
          <strong>DecimalPipe:</strong> Formats numbers with decimal points.
        </li>
        <li><strong>PercentPipe:</strong> Formats numbers as percentages.</li>
        <li><strong>UpperCasePipe:</strong> Transforms text to uppercase.</li>
        <li><strong>LowerCasePipe:</strong> Transforms text to lowercase.</li>
        <li><strong>TitleCasePipe:</strong> Transforms text to title case.</li>
        <li>
          <strong>JsonPipe:</strong> Converts an object into a JSON string.
        </li>
      </ul>
      <p>
        To use a pipe in an Angular template, you can use the pipe operator (|)
        followed by the name of the pipe. For example:
      </p>
      <pre><code>{{ currentDate | date:'fullDate' }}</code></pre>
      <p>
        In this example, the currentDate variable will be formatted as a full
        date using the DatePipe.
      </p>
      <p>
        You can also create custom pipes to perform specific transformations
        that are not covered by the built-in pipes. Custom pipes can be created
        by implementing the PipeTransform interface and decorating the class
        with the Pipe decorator.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      courseName => {{ courseName }} courseName => {{ courseName | uppercase }}
    </div>
    <div class="col-sm-3">
      courseDuration => {{ courseDuration }} courseDuration =>
      {{ courseDuration | lowercase }}
    </div>
    <div class="col-sm-3">
      courseDuration => {{ courseDuration }} courseDuration =>
      {{ courseDuration | titlecase }}
    </div>
  </div>
  <div class="row">
    <h2>Date Pipes</h2>
    cureent date => {{ currentDate }}
    <div class="row">
      <div class="col-sm-2">
        {{ currentDate | date: "dd-MM-yyyy" }}
      </div>
      <div class="col-sm-2">
        {{ currentDate | date: "dd-MM-yy" }}
      </div>
      <div class="col-sm-2">
        {{ currentDate | date: "dd-MMM-yy" }}
      </div>
      <div class="col-sm-2">
        {{ currentDate | date: "dd-MMMM-yyyy" }}
      </div>
      <div class="col-sm-2">
        {{ currentDate | date: "dd/MMMM/yyyy" }}
      </div>
      <div class="col-sm-2">
        {{ currentDate | date: "hh:mm:ss" }}
      </div>
    </div>
  </div>
  <div class="row">
    <h2>JSON PIPES & SLICE PIPE</h2>
    <div class="row">
      <div class="col-sm-6">
        <p>Json pipe used to convert object to string so we can read</p>
        {{ studentObj }}=> {{ studentObj | json }}
      </div>
      <div class="col-sm-6">
        {{ rollNo | slice: 0 : 2 }}
      </div>
    </div>
  </div>
</div>
