<div class="row">
  <div class="col-sm-3 p-4" [ngStyle]="{'background-color':div1Style, color: 'red'}">
    Div 1
  </div>
  <div class="col-sm-3 p-4" [ngStyle]="{'background-color': isChecked ? 'teal' : 'blue'}">
    Div 2
  </div>
  <div class="col-sm-3 p-4" [ngStyle]="myCss">
    Div 3
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <button class="btn btn-success" (click)="addDiv1Color('blue')">Blue</button>
    <button class="btn btn-primary" (click)="addDiv1Color('green')">Green</button>
  </div>
  <div class="col-sm-3">
    <input type="checkbox" [(ngModel)]="isChecked"> -- {{isChecked}}
  </div>

</div>